html {
    font-family: sans-serif;
  }
  .container {
    width: 100%;
  }
  h1,
  h2,
  h3 {
    text-transform: uppercase;
  }
  body {
    border: 5px black solid;
    width: 61%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    /* margin: 0; */
  }
  body::before {
    content: "SALE";
    background-color: #ec2f2f;
    color: #f7f7f7;
    position: absolute;
    padding: 10px 20px;
    font-weight: bolder;
    letter-spacing: 0.2em;
    top: -20px;
    left: -50px;
    /* font-family: monospace; */
    font-size: 15px;
  }
  .header-title {
    background-color: #f7f7f7;
    /* font-weight: 300; */
    text-transform: uppercase;
    /* font-size: 13px; */
    font-size: 22px;
    margin: 0;
    padding: 20px 0;
    text-align: center;
  }
  
  .product-description {
    margin-bottom: 0;
    font-size: 17 px;
    margin-top: 0;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .more-info:hover {
    text-decoration: none;
  }
  .more-info {
    color: #2f2f2f;
    font-size: 17px;
    margin-top: 10px;
  }
  .colors {
    display: block;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .color-black {
    background-color: black;
    height: 22px;
    width: 22px;
    display: inline-block;
    margin-right: 12px;
  }
  .color-blue {
    background-color: #2f6ee2;
    height: 22px;
    width: 22px;
    /* display: inline; */
    display: inline-block;
    margin-right: 12px;
  }
  .color-red {
    background-color: #ec2f2f;
    height: 22px;
    width: 22px;
    /* display: inline; */
    display: inline-block;
    margin-right: 12px;
  }
  .color-yellow {
    background-color: #f0bf1e;
    height: 22px;
    width: 22px;
    /* display: inline; */
    display: inline-block;
    margin-right: 12px;
  }
  .color-green {
    background-color: #90cc20;
    height: 22px;
    width: 22px;
    /* display: inline; */
    display: inline-block;
    margin-right: 12px;
  }
  .color-brown {
    background-color: #885214;
    height: 22px;
    width: 22px;
    /* display: inline; */
    display: inline-block;
  }
  .free-shipping {
    text-transform: uppercase;
    color: #7f7f7f;
    font-weight: bolder;
    font-size: 12px;
    margin-top: 10px;
    float: right;
    margin-right: 15px;
    margin-top: 15px;
  }
  .price {
    font-size: 22px;
    margin-bottom: 0px;
    margin-top: 10px;
    float: left;
  }
  .price-container{
    margin-bottom: 40px;
    margin-top: 20px;
  }
  .list-title {
    font-size: 17px;
    margin-top: 30px;
  }
  .list {
    list-style: square;
    font-size: 16px;
    padding-left: 0;
    margin-left: 22px;
    color: black;
  }
  li {
    margin-bottom: 15px;
  }
  li:last-child {
    margin-bottom: 0;
  }
  .cart-btn {
    color: #ffffff;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    text-transform: uppercase;
    font-size: 20px;
    /* border: none; */
    padding: 22px 0;
  }
  .cart-btn:hover {
    background-color: #ffffff;
    color: black;
    
    
    border: none;
    border-top: 5px black solid;
  }
  
  .image {
    width: 250px;
    height: auto;
    float: left;
    margin-right: 40px;
  }
  .left-container{
    /* width: 60%; */
    /* float: left; */
    /* background-color: violet; */
    width: 30%;
    float: left;
    display: inline;
    margin: 0;

  }
  .right-container{
    float: right;
    margin-right: 20px;
    /* background-color: aqua; */
    width: 28%;
    display: inline;
  }
